* {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background: #e5e5e5;
  font-size: 14px;
  height: 480px;
  overflow-y: scroll;
  width: 300px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

header {
  height: 48px;
  background: #8BC34A;
  padding: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

section {
  margin-top: 68px;
}

.product-header {
  color: #666;
  font-size: 16px;
  margin: 16px 0 4px 0;
  padding: 4px 0;
}

.popup-title span {
  font-size: 16px;
  color: #fff;
  outline: none;
  line-height: 24px;
  text-decoration: none;
}

#action-bar {
  float: right;
}

#action-bar img {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 0 2px;
}
